/Assets/Scripts/DOTween/
/Assets/PythonScripts/tools/__init__.py.meta
/Assets/PythonScripts/basic/basics.py.meta
/Assets/PythonScripts/basic/__init__.py.meta
/Assets/PythonScripts/basic.meta
/Assets/PythonScripts/basic/serial.py.meta
/Assets/PythonScripts/relics_loc.csv.meta
/Assets/PythonScripts/tools/auto_split.py.meta
/Assets/PythonScripts/basic/__pycache__.meta
/Assets/PythonScripts/skills.py.meta
/Assets/PythonScripts/skills_loc.csv.meta
/Assets/PythonScripts/tools.meta
/UniTask.TextMeshPro.csproj
/UniTask.Linq.csproj
/UniTask.Editor.csproj
/UniTask.DOTween.csproj
/UniTask.csproj
/UniTask.Addressables.csproj
/Tests.csproj
/Sirenix.OdinInspector.Modules.UnityMathematics.csproj
/Sirenix.OdinInspector.CompatibilityLayer.Editor.csproj
/Sirenix.OdinInspector.CompatibilityLayer.csproj
/ProjectSettings
/packages.config
/obj/Debug
/MoreMountains.Tools.Editor.csproj
/MoreMountains.Tools.csproj
/MoreMountains.Feedbacks.URP.csproj
/MoreMountains.Feedbacks.TextMeshPro.csproj
/MoreMountains.Feedbacks.PostProcessing.csproj
/MoreMountains.Feedbacks.NiceVibrations.csproj
/MoreMountains.Feedbacks.MMTools.csproj
/MoreMountains.Feedbacks.HDRP.csproj
/MoreMountains.Feedbacks.Editor.csproj
/MoreMountains.Feedbacks.csproj
/MoreMountains.Feedbacks.Cinemachine.csproj
/MoreMountains.Feedbacks.Authorizations.csproj
/Managers.csproj
/Managaers.csproj
/Lofelt.NiceVibrations.Editor.csproj
/Lofelt.NiceVibrations.Demo.csproj
/Lofelt.NiceVibrations.csproj
/Library
/ignore.conf
/hidden_changes.conf
/Game.csproj
/FKDL.sln.DotSettings.user
/FKDL.sln.DotSettings
/FKDL.sln
/Editors.csproj
/Domain.csproj
/cloaked.conf
/Assembly-CSharp.csproj.DotSettings
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/.vsconfig
/.vs/FKDL
/.plastic
/.idea
/Temp
