/Assets/Scripts/DOTween/
/Assets/PythonScripts/tools/__init__.py.meta
/Assets/PythonScripts/basic/basics.py.meta
/Assets/PythonScripts/basic/__init__.py.meta
/Assets/PythonScripts/basic.meta
/Assets/PythonScripts/basic/serial.py.meta
/Assets/PythonScripts/relics_loc.csv.meta
/Assets/PythonScripts/tools/auto_split.py.meta
/Assets/PythonScripts/basic/__pycache__.meta
/Assets/PythonScripts/skills.py.meta
/Assets/PythonScripts/skills_loc.csv.meta
/Assets/PythonScripts/tools.meta
